<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thingple.tag.wrapper">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.thingple.tagservice.view.InventoryActivity" android:exported="true" />
        <activity android:name="com.thingple.tagservice.view.ReadCardActivity" android:exported="true" />
        <activity android:name="com.thingple.tagservice.view.WriteCardActivity" android:exported="true" />
        <service
            android:name="com.thingple.tagservice.IDeviceService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>